@page
@model GymTrain.Pages.Trainers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Trainer @Html.DisplayFor(model => model.Trainer.LastName)</h1>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Trainer.FirstMidName)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Certified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Certified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Education)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Image)
        </dt>
        <dd class="col-sm-10">
            <img class="friend-image img-fluid img-thumbnail"
                        src="~/Images/@Html.DisplayFor(model => model.Trainer.Image)"
                        alt="Image of @Html.DisplayFor(model=> model.Trainer.FirstMidName)" width=150/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.IsMale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.IsMale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Pkg5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Pkg5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Pkg12)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Pkg12)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Pkg20)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Pkg20)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Trainer.TrainerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
