@page
@model GymTrain.Pages.Trainers.DetailsModel

@{
ViewData["Title"] = "Details";
}

<h1>Trainer Details</h1>

<div>
    <hr />
    <div class="container friendInfo">
        <div id="friendsWrapper" class="row">
            <div class="col-sm-4 mt-3 mb-3 ">
                <div>
                    <h3 class="pt-3 pb-3">@Html.DisplayFor(model => model.Trainer.FirstMidName) @Html.DisplayFor(model
                        => model.Trainer.LastName)</h3>
                    <img class="friend-image img-fluid img-thumbnail"
                        src="~/Images/@Html.DisplayFor(model => model.Trainer.Image)"
                        alt="Image of @Html.DisplayFor(model => model.Trainer.FirstMidName)" />
                </div>
                <div class="action p-2">
                    <a class="but btn-sm" asp-page="./Edit" asp-route-id="@Model.Trainer.TrainerID">Edit</a> 
                    <a class="but btn-sm" asp-page="./Index">Back to List</a>
                </div>
            </div>
            <div class="col-sm-8 mt-5 mb-3">
                <dl class="row">
                    <dt class="col-sm-2 mt-3">
                        @Html.DisplayNameFor(model => model.Trainer.Certified)
                    </dt>
                    <dd class="col-sm-10 mt-3">
                        @Html.DisplayFor(model => model.Trainer.Certified)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Trainer.Education)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Trainer.Education)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Trainer.Specialty)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Trainer.Specialty)
                    </dd>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.Trainer.Description)
                    </dd>
                </dl>
            </div>
    
            <div class="row center ml-3 mr-3 mb-3">
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <small>5 Prepaid Sessions</small>
                            <p class="display-3"><small>$</small>@Html.DisplayFor(model => model.Trainer.Pkg5)
                                <small>per</small><br>session</span></p>
                            <small class="mbr-plan-price-desc">5 individual personal training sessions</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <small>12 Prepaid Sessions</small>
                            <p class="display-3"><small>$</small>@Html.DisplayFor(model => model.Trainer.Pkg12)
                                <small>per</small><br>session</span></p>
                            <small class="mbr-plan-price-desc">12 individual personal training sessions</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <small>20 Prepaid Sessions</small>
                            <p class="display-3"><small>$</small>@Html.DisplayFor(model => model.Trainer.Pkg20)
                                <small>per</small><br>session</span></p>
                            <small class="mbr-plan-price-desc">20 individual personal training sessions</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
