@page
@model GymTrain.Pages.Trainers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Trainer List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                @Html.DisplayNameFor(model => model.Trainers[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstMidNameSort">
                @Html.DisplayNameFor(model => model.Trainers[0].FirstMidName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CertifiedSort">
                @Html.DisplayNameFor(model => model.Trainers[0].Certified)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers[0].Education)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SpecialtySort">
                @Html.DisplayNameFor(model => model.Trainers[0].Specialty)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers[0].Image)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IsMaleSort">

                @Html.DisplayNameFor(model => model.Trainers[0].IsMale)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.Pkg5Sort">

                @Html.DisplayNameFor(model => model.Trainers[0].Pkg5)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers[0].Pkg12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers[0].Pkg20)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trainers) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMale)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrainerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
