@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Our Trainers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by First Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="/Index">Back to full List</a>
        </p>
    </div>
</form>

<div class="container">
  
        <div id="friendsWrapper" class="row ml-3">
        @foreach (var item in Model.Trainers) 
        {
        <div class="col-sm-4 mt-5 mb-5 friendInfo">
                <div class="friendInfo">
                    <h3 class="pt-3 pb-3">@item.FirstMidName @item.LastName</h3>
                    <h6><span>Certified: </span>@Html.DisplayFor(modelItem => item.Certified)</h6>
                    <img class="friend-image img-fluid img-thumbnail" src="~/Images/@item.Image"
                        alt="Image of @item.FirstMidName" />
                </div>
         
            <div class="action p-2 friendInfo" >
                <h6>Specialty: @Html.DisplayFor(modelItem => item.Specialty)</h6>
                <a class="but btn-sm float-right mb-3" asp-page="/Details" asp-route-id="@item.TrainerID">View</a>

            </div>
        </div>
        }
    </div>
</div>
