@page
@model GymTrain.Pages.Sessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].TrainerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].DayTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].EmailReminder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailReminder)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SessionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SessionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SessionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
