@page
@model GymTrain.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Client List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by First Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstMidNameSort">
                @Html.DisplayNameFor(model => model.Clients[0].FirstMidName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                @Html.DisplayNameFor(model => model.Clients[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StartDateSort">
                @Html.DisplayNameFor(model => model.Clients[0].StartDate) 
                </a>               
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clients) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClientID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
